body {
    padding: 0;
    margin: 0;

    display: flex;
    width: 100%;
    min-height: 100vh;
}
body * {
    box-sizing: border-box;
    color: white;
    font-family: Poppins, sans-serif;
}
.name {
    flex: 1;
    background-color: rgb(43, 43, 43);
}
.room {
    flex: 3;
    background-color: rgb(80, 79, 79);
}
.flow {
    flex: 6;
}
ul {
    list-style: none;
    width: 100%;
    padding-inline: 10px;
}
ul li {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4px;
    margin-block: 12px;
    font-size: .9rem;
}